<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Restaurant Coordinator 3000</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jqueryui.js"></script>
	<script src="/javascripts/scripts.js"></script>
	<link rel="stylesheet" media="(max-width: 700px)" href="/stylesheets/phone.css">
	<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Sacramento' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body>
		<div class="navigation group">
			<div class="nav_container">
				<div id="nav_title">Spicoli's</div>
				<ul>
					<%= link_to("/foods", "<li class='wobble-skew'>MENU</li>") %>
					<%= link_to("/parties", "<li class='wobble-skew'>TABLES</li>") %>
					<%= link_to("/orders", "<li class='wobble-skew'>ORDERS</li>") %>
				</ul>	
				<% if current_user %>
					<%= erb :'users/_logout'%>
				<% end %>
			</div>
		</div>

	<%= yield %>
</body>
</html>