<div class="container menu">
	<div class="text_align">
		<h1 class="menu_heading first_heading">Welcome!</h1>
		<h3 class="menu_heading">Order from the following menu items</h3>
	</div>

<!-- Lists each appetizer -->
	<div class="margin_left">
		<h4 class="menu_heading">Appetizers</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "appetizer" %>
				<li class="food_list">
					<a href="/foods/<%= food.id %>"><%= food.food_capitalize %>  - $<%= food.price %></a><img src="http://www.gocartdv.com/images/ci_logo.png" class="<%= food.is_spicy %>" >
				</li>
				<% end %>
			<% end %>
		</ul>

	<!-- Lists each Entree -->
		<h4 class="menu_heading">Entree</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "entree" %>
				<li class="food_list">
				<a href="/foods/<%= food.id %>"><%= food.food_capitalize %> - $<%= food.price %></a><img src="http://www.gocartdv.com/images/ci_logo.png" class="<%= food.is_spicy %>" >
				</li>
				<% end %>
			<% end %>
		</ul>

	<!-- Lists each Desert -->
		<h4 class="menu_heading">Desert</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "desert" %>
				<li class="food_list">
					<a href="/foods/<%= food.id %>"><%= food.food_capitalize %> - $<%= food.price %></a><img src="http://www.gocartdv.com/images/ci_logo.png" class="<%= food.is_spicy %>" >
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
		<div class="text_align">
			<img src="http://www.gocartdv.com/images/ci_logo.png" class="spicyness" > = Burn Yo Mouth Spicy!
		</div>
		<div class="text_align first_heading">
			<a class="button" href="/foods/new">Add new item</a>
		</div>
</div>