<div class="container">
	<h1>Welcome!</h1>
	<h3>Order from the following menu items</h3>

<!-- Lists each appetizer -->
	<h4>Appetizers</h4>
	<ul>
		<% @foods.each do |food| %>
			<% if food.course == "appetizer" %>
			<li>
				<a href="/foods/<%= food.id %>"><%= food.name %>  - $<%= food.price %></a>
			</li>
			<% end %>
		<% end %>
	</ul>

<!-- Lists each Entree -->
	<h4>Entree</h4>
	<ul>
		<% @foods.each do |food| %>
			<% if food.course == "entree" %>
			<li>
			<a href="/foods/<%= food.id %>"><%= food.name %> - $<%= food.price %></a>
			</li>
			<% end %>
		<% end %>
	</ul>

<!-- Lists each Desert -->
	<h4>Desert</h4>
	<ul>
		<% @foods.each do |food| %>
			<% if food.course == "desert" %>
			<li>
				<a href="/foods/<%= food.id %>"><%= food.name %> - $<%= food.price %></a>
			</li>
			<% end %>
		<% end %>
	</ul>
	<a href="/foods/new">Add new item</a>
</div>