<div class="container menu">
	<div class="text_align">
		<h1 class="menu_heading first_heading">Welcome!</h1>
		<h3 class="menu_heading">Order from the following menu items</h3>
	</div>

<!-- Lists each appetizer -->
	<div class="margin_left">
		<h4 class="menu_heading">Appetizers</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "appetizer" %>
				<li>
					<a href="/foods/<%= food.id %>"><%= food.name %>  - $<%= food.price %></a>
				</li>
				<% end %>
			<% end %>
		</ul>

	<!-- Lists each Entree -->
		<h4 class="menu_heading">Entree</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "entree" %>
				<li>
				<a href="/foods/<%= food.id %>"><%= food.name %> - $<%= food.price %></a>
				</li>
				<% end %>
			<% end %>
		</ul>

	<!-- Lists each Desert -->
		<h4 class="menu_heading">Desert</h4>
		<ul>
			<% @foods.each do |food| %>
				<% if food.course == "desert" %>
				<li>
					<a href="/foods/<%= food.id %>"><%= food.name %> - $<%= food.price %></a>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
		<a href="/foods/new">Add new item</a>
</div>