<div class="container show_party_container">
	<h1 class="first_heading">Status of Table <%= @party.table_number %></h1>
	<h3 class="inline_block_display" >Guests: <i><%= @party.guests %></i></h3>

<!-- 	Delete Party Form -->
	<form class="inline_block_display" action="/parties/<%= @party.id %>" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Remove Party">
	</form>

	<!-- Pay for order -->
	<form class="inline_block_display" action="/parties/<%= @party.id %>" method="post">
		<input type="hidden" name="_method" value="patch">
		<input type="hidden" name="party[payment_status]" value="true">
		<input type="hidden" name="party[checkout_time]" value="<%= DateTime.now %>">
		<input type="submit" value="Pay for Meal">
	</form>

<!-- 	Create new orders -->
	<h3>Create new order for Table <%= @party.table_number %></h3>
	<form action="/parties/<%= @party.id %>" method="post">
		<select name="order[food_id]">
			<% @foods.each do |food| %>
			<option value="<%= food.id %>"><%= food.name %></option>
			<% end %>
		</select>
		<input type="hidden" name="order[party_id]" value="<%= @party.id %>">
		<input type="submit" value="Create Order">
	</form>
	</br>

<!-- Display Errors if ORDER when PARTY already PAID -->

	<% if @errors %>
		<div class="errors">
		<h1>NAH UH! YOU HAVE <%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
		  <ul>
		    <% @errors.each do |error|  %>
		      <li><h3><%= error %></h3></li>
		    <% end %>
		  </ul>
		</div>
	<% end %>

<!-- 	Full receipt for Party -->

	<h3 class="text_align">Current orders for Table <%= @party.table_number %></h3>
		<div class="receipt">
			...Thanks for eating at...</br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Spicoli's!</br>
			--------------------------</br>
			<%= @party.last_name %> Party</br>
			Sitting at Table <%= @party.table_number %></br>
			<% @party.orders.each do |order| %>
					
					<a href="/orders/<%= order.id %>/edit"><%= order.to_s %></a></br>	
					
			<% end %>
			--------------------------</br>
			Total: $<%= @party.total %>
			<%= if @party.payment_status == true then "PAID" end%></br>
			Tip: 15% = $<%= @party.tip(0.15) %></br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20% = $<%= @party.tip(0.20) %></br>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25% = $<%= @party.tip(0.25) %>
		</div>
		<div class="text_align">
			<a href="/receipts/<%= @party.id %>_<%= @party.last_name %>_party_receipt.txt" download>Download Receipt</a>
		</div>

</div>