<h1>Status of Table <%= @party.table_number %></h1>
<h3>Guests: <i><%= @party.guests %></i></h3>

<!-- Delete Party Form -->
<form action="/parties/<%= @party.id %>" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Remove Party">
</form>

<!-- Create new order form -->
<h1>Create new order for Table <%= @party.table_number %></h1>
<form action="/parties/<%= @party.id %>" method="post">
	<select name="order[food]">
		<% @foods.each do |food| %>
		<option value="<%= food.id %>"><%= food.name %></option>
		<% end %>
	</select>
	<input type="hidden" name="order[party]" value="<%= @party.id %>">
	<input type="submit" value="Create Order">
</form>
